{% load static swampdragon_tags %}
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <base href="/"/>
        <link rel="icon" href="favicon.ico">

        <!-- Bootstrap core CSS -->
        <link href="/client/libraries/bootstrap-3.3.1/dist/css/bootstrap.css" rel="stylesheet">
        <link href="/client/content/game.css" rel="stylesheet">
    </head>

    <body>
        <div ng-include="'/client/partials/header.html'"></div>

        <div class="content" ng-view></div>

        <div class="container">

        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
        <script src="/client/libraries/jquery.js"></script>
        <script src="/client/libraries/bootstrap-3.3.1/dist/js/bootstrap.js"></script>

        <script src="/client/libraries/angular.min.js"></script>
        <script src="/client/libraries/angular-route.js"></script>
        <script src="/client/libraries/angular-resource.js"></script>
        {% swampdragon_settings %}
        <script src="/client/libraries/swamp/swampdragon.js"></script>
        <script src="/client/libraries/swamp/datamapper.js"></script>
        <script src="/client/libraries/swamp/angularServices.js"></script>

        <script src="/client/scripts/app.js"></script>
        <script src="/client/scripts/controllers/homeController.js"></script>
        <script src="/client/scripts/controllers/authController.js"></script>
        <script src="/client/scripts/controllers/registerController.js"></script>

        <script src="/client/scripts/services/authService.js"></script>
    </body>
</html>
